

<p>Nombre de usuario: @ViewBag.username</p>

<p>Número de pregunta actual: @ViewBag.Preguntas.IdPregunta</p>


<form action="VerificarRespuesta" method="POST">
    <p>Enunciado: @ViewBag.Preguntas.Enunciado</p>
    <input type="hidden" name="IdPregunta" value="@ViewBag.Preguntas.IdPregunta" />
    <h3>Puntaje: @ViewBag.puntaje</h3>
    <ul>
        @foreach (Respuestas respuesta in ViewBag.Respuestas)
        {
            <li>
                <label>
                 <input type="radio" id="IdRespuesta" name="IdRespuesta" value="@respuesta.IdRespuesta" required />
                 @respuesta.Contenido
                 @respuesta.Correcta
                 @respuesta.IdPregunta
                </label>
            </li>
        }
    </ul>
    <input type="submit" value="Responder" />
</form>